:root {
  --primary: #822E81;
  --secondary: #AA6373;
  --tertiary:#F0F2A6;
  --fourtiary:#392061;
  --fivetiary:#1A1B25;

  --font-family: "Montserrat", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
  --text-color: #444;
}
